.mr2 {
    margin-right: 2px;
}

.mr4 {
    margin-right: 4px;
}

.mr8 {
    margin-right: 8px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb8 {
    margin-bottom: 8px;
}

.p2 {
    padding: 2px;
}

.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.m2 {
    margin: 2px;
}

.m4 {
    margin: 4px
}

.m8 {
    margin:8px;
}

p {
    margin: 0;
    padding: 0;
}
