.timeline {
    position: relative;
}

.timeline:before {
    content: "";
    width: 2px;
    background-color: var(--color-lightGrey);
    position: absolute;
    left: 3px;
    top: 22px;
    bottom: 22px;
}

.timeline__flex {
    display: flex;
    padding: .5rem 0;
    line-height: 28px;
}

.timeline__content {
    flex-grow: 1;
    position: relative;
    padding-left: 2rem;
}

.timeline__content:before {
    content:"";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-lightGrey);
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
}


.timeline__content--primary:before {
    background-color: var(--color-primary);
}

.timeline__content--secondary:before {
    background-color: var(--color-secondary);
}

.timeline__content--success:before {
    background-color: var(--color-success);
}

.timeline__content--info:before {
    background-color: var(--color-info);
}

.timeline__content--warning:before {
    background-color: var(--color-warning);
}

.timeline__content--danger:before {
    background-color: var(--color-danger);
}